In [1]:
# Packages importation
import pandas as pd
import numpy as np
from PIL import Image
import matplotlib.pyplot as plt
import matplotlib.patches as patches

In [3]:
cars_path = "../datasets/car_models_footprint.csv"
car_models = pd.read_csv(cars_path, sep=";", index_col=[0])
car_models.head(5)

,Brand,year,Average Urban Consumption,Average extra-urban consumption,Average mixed consumption,Average of CO2 (g per km),Average CO type I
models,,,,,,,
Ford Fiesta Sedan 2012,Ford,2012,4.900000,3.600,4.100000,107.000000,"0,421"
FIAT 500 Convertible 2012,FIAT,2012,5.725000,4.175,4.775000,111.000000,"0,318"
Chevrolet Corvette ZR1 2012,Chevrolet,2012,19.000000,8.900,12.600000,293.000000,"0,508"
Lamborghini Gallardo LP 570-4 Superleggera 2012,Lamborghini,2012,21.406667,9.860,14.086667,337.133333,0
Honda Accord Coupe 2012,Honda,2012,6.900000,4.500,5.400000,141.000000,"0,215"

In [4]:
numbers_rows = car_models.shape[0]
numbers_columns = car_models.shape[1] - 1
print(f'Number of car models : {numbers_rows} | columns : {numbers_columns}')

Number of car models : 100 | columns : 6

In [5]:
# Missing values
na_colums = []
print('The perc. of empty values')
for column_name in car_models:
    percentage_na = car_models[column_name].isna().mean() * 100
    print(f'{column_name} : {np.round(percentage_na)} %')
    if percentage_na > 0:
        na_colums.append(column_name)

The perc. of empty values
Brand : 0.0 %
year : 0.0 %
Average Urban Consumption : 25.0 %
Average extra-urban consumption : 25.0 %
Average mixed consumption : 25.0 %
Average of CO2 (g per km) : 0.0 %
Average CO type I : 25.0 %

In [6]:
# Column Types
car_models.dtypes

Brand                               object
year                                 int64
Average Urban Consumption          float64
Average extra-urban consumption    float64
Average mixed consumption          float64
Average of CO2 (g per km)          float64
Average CO type I                   object
dtype: object

In [7]:
car_models['Average CO type I'] = car_models['Average CO type I'].str.replace(',', '.').astype(float)

In [8]:
# Column Types
car_models.dtypes

Brand                               object
year                                 int64
Average Urban Consumption          float64
Average extra-urban consumption    float64
Average mixed consumption          float64
Average of CO2 (g per km)          float64
Average CO type I                  float64
dtype: object

In [9]:
# Variables with missing values
na_colums

['Average Urban Consumption',
 'Average extra-urban consumption',
 'Average mixed consumption',
 'Average CO type I']

In [10]:
# Mean imputation
for column in na_colums :
    car_models[column] = car_models[column].fillna(value=car_models[column].mean())

In [11]:
# na values
print('The perc. of empty values')
for column_name in car_models:
    percentage_na = car_models[column_name].isna().mean() * 100
    print(f'{column_name} : {np.round(percentage_na)} %')

The perc. of empty values
Brand : 0.0 %
year : 0.0 %
Average Urban Consumption : 0.0 %
Average extra-urban consumption : 0.0 %
Average mixed consumption : 0.0 %
Average of CO2 (g per km) : 0.0 %
Average CO type I : 0.0 %

In [12]:
# Save data
car_models.to_csv('../group_00095_shared_workspace/car_models.csv')